@charset 'UTF-8';

body {
  background-color: hsl(160deg, 100%, 90%);
  font-family: Arial, Helvetica, sans-serif;
}

h1#principal {
  color: lightblue;
  background-color: darkgreen;
  text-align: center;
}

h1 {
  color: green;
}

h2 {
  color: hsl(160deg, 100%, 15%);
}