@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
}

html, body {
  min-height: 100%;
  background-color: darkgray;
}

header {
  padding-top: 50px;
  background-color: black;
  color: white;
  text-align: center;
  font-variant: small-caps;
}

header p {
  padding-bottom: 50px;
}

header a, footer a{
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

header a:hover, footer a:hover{
  text-decoration: underline;
}

section {
  padding: 10vh 0vh;
  line-height: 2em;
  padding-left: 30px;
}

section.normal {
  background-color: white;
  color: black;
}

section.imagem {
  background-color: rgba(0, 0, 0, 0.41);
  color: white;
}

section.imagem > p {
  max-width: 400px;
  background-color: rgba(0, 0, 0, 0.41);
}

footer {
  background-color: black;
  text-align: center;
  color: white;
  font-size: 0.8em;
  padding: 5px;
}